.separator {
  background-color: var(--main-color);
  border: none;
  height: 3px;
  width: 20%;
}

.modal-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-title {
  color: var(--main-color);
  margin: 30px 0;
}

.modal-description {
  padding: 10px 100px;
  text-align: left;
}

.modal-close-button {
  background-color: var(--main-color);
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin: 30px 0;
  padding: 10px 50px;
}

.list-ingredients {
  list-style: inside;
  padding: 20px 0;
}

.list-ingredients > li {
  list-style: none;
  padding: 5px 0;
}

.pancake-box {
  flex-basis: 15%;
}

.pancake-title {
  text-align: center;
}
