#menu {
  width: 100%;
}

#menu>div:nth-child(2) {
  margin: 3em 0;
  width: 100%;
}

#menu>div:nth-child(3) {
  flex-wrap: wrap;
  gap: 4em;
  justify-content: center;
  width: 100%;
}

#menu>div:nth-child(2)>div {
  align-items: center;
  border-radius: 10px;
  border: 2px solid #0000002d;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  padding: 7px 15px;
  user-select: none;
}

#menu>div:nth-child(2)>div.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: var(--background-color);
}

#menu>div:nth-child(2)>div>span {
  margin-left: 5px;
}

#menu article {
  background-color: var(--background-color);
  border-radius: 20px;
  box-shadow: 0 0 25px #00000080;
  min-height: 235px;
  padding: 30px 50px;
  transition: all .5s;
}

#menu article.active {
  background-color: var(--main-color);
}

#menu article.active h3 {
  color: var(--background-color);
}

#menu article p {
  margin: 0.5em 0 1em;
}

#menu article.active p {
  color: var(--background-color);
  margin: 0.5em 0 1em;
  opacity: .7;
}

#menu article button {
  border-radius: 10px;
  border-width: 0;
  box-shadow: 0 0 20px #00000098;
  cursor: pointer;
  margin-top: 1em;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: all .5s;
}

#menu article.active button {
  max-height: 80px;
  padding: 5px 10px;
}
