#Menu{ width: 100%; }
#Menu>div:nth-child(2){
    width: 100%;
    margin: 3em 0;
}
#Menu>div:nth-child(2)>div{
    border: 2px solid #0000002d;
    border-radius: 10px;
    padding: 7px 15px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
}
#Menu>div:nth-child(2)>div.acctive{
    border-color: var(--main-color);
    background-color: var(--main-color);
    color: var(--background-color);
}
#Menu>div:nth-child(2)>div>lore{ margin-left: 5px; }

#Menu>div:nth-child(3){
    width: 100%;
    flex-wrap: wrap;
    gap: 4em;
    justify-content: center;
}

#Menu article{
    transition: all .5s;
    box-shadow: 0px 0px 25px #00000080;
    min-height: 235px;
    border-radius: 20px;
    padding: 30px 50px;
    background-color: var(--background-color);
}
#Menu article.acctive{ background-color: var(--main-color); }
#Menu article.acctive h3{ color: var(--background-color); }
#Menu article.acctive p{
    color: var(--background-color);
    opacity: .7;
    margin: 0.5em 0 1em;
}
#Menu article p{
  margin: 0.5em 0 1em;
}
#Menu article button{
    transition: all .5s;
    max-height: 0px;
    overflow: hidden;
    border-width: 0px;
    box-shadow: 0px 0px 20px #00000098;
    border-radius: 10px;
    padding: 0px;
    margin-top: 1em;
    cursor: pointer;
}
#Menu article.acctive button{
    max-height: 80px;
    padding: 5px 10px;
}
